body {
  background: #222;
}

#preso, .slide {
  background: #333;
}

.slide::before {
  background: #881c1c;
  content: "";
  display: block;
  height: 100%;
  width: 20%;
  position: absolute;
}

.slide-footer {
  background: #000;
  color: #eee;
  height: 2em;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.content {
  color: #eee;
}

.content a,
.content a:hover,
.content a:visited,
.content a:active {
  color: #71b2c9;
}

.content.bullets > ul > li {
  margin-left: 0;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
