@import url('vendor/pico-css/css/pico.min.css');

:root {
  --primary-h: 0;
  --primary-s: 66%;
  --primary-l: 32%;
  --secondary-h: 30;
  --secondary-s: 10%;
  --secondary-l: 64%
}

/* Light theme (default) */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primary-hover: hsl(var(--primary-h),
                       calc(var(--primary-s) * 0.7),
                       calc(var(--primary-l) * 0.8));
  --primary-focus: hsla(var(--primary-h),
                        var(--primary-s),
                        var(--primary-l),
                        0.125);
  --primary-inverse: #FFF;
  --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
  --secondary-hover: hsl(var(--secondary-h),
                       calc(var(--secondary-s) * 0.7),
                       calc(var(--secondary-l) * 0.8));
  --secondary-focus: hsla(var(--secondary-h),
                        var(--secondary-s),
                        var(--secondary-l),
                        0.125);
  --secondary-inverse: #222;
}

/* Dark theme (auto) */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-hover: hsl(var(--primary-h),
                         var(--primary-s),
                         calc(var(--primary-l) * 1.2));
    --primary-focus: hsla(var(--primary-h),
                          var(--primary-s),
                          var(--primary-l),
                          0.25);
    --primary-inverse: #FFF;
    --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --secondary-hover: hsl(var(--secondary-h),
                         var(--secondary-s),
                         calc(var(--secondary-l) * 1.1));
    --secondary-focus: hsla(var(--secondary-h),
                          var(--secondary-s),
                          var(--secondary-l),
                          0.25);
    --secondary-inverse: #222;
  }
}

/* Dark theme (forced) */
[data-theme="dark"] {
  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primary-hover: hsl(var(--primary-h),
                       var(--primary-s),
                       calc(var(--primary-l) * 1.2));
  --primary-focus: hsla(var(--primary-h),
                        var(--primary-s),
                        var(--primary-l),
                        0.25);
  --primary-inverse: #FFF;
    --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --secondary-hover: hsl(var(--secondary-h),
                         var(--secondary-s),
                         calc(var(--secondary-l) * 1.1));
    --secondary-focus: hsla(var(--secondary-h),
                          var(--secondary-s),
                          var(--secondary-l),
                          0.25);
    --secondary-inverse: #222;
}

ul li {
  list-style: inherit;
}

#preso, .slide, #notes-pane #notes {
  background-color: var(--background-color);
}

.content:not(.cover) h1:not(.section_title) {
  border-bottom: 2px solid var(--primary);
}

#timerSection {
  display: none;
}

#help-modal {
  font-size: 0.7em;
}
